.ubi-web-lib .animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ubi-web-lib .animated-slow,
.ubi-web-lib .animated.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@keyframes flash-color {
  from, 50%, to {
    color: inherit;
  }

  25%, 75% {
    color: #274BB1;
  }
}

.ubi-web-lib .flash-color {
  animation-name: flash-color;
}

@keyframes flash-bg-color {
  from, 50%, to {
    background-color: inherit;
  }

  25%, 75% {
    background-color: #274BB1;
  }
}

.ubi-web-lib .flash-bg-color {
  animation-name: flash-bg-color;
}

@keyframes flash-border-color {
  from, 50%, to {
    border-color: inherit;
  }

  25%, 75% {
    border-color: #274BB1;
  }
}

.ubi-web-lib .flash-border-color {
  animation-name: flash-border-color;
}

.ubi-web-lib .animated.flipOutX,
.ubi-web-lib .animated.flipOutY,
.ubi-web-lib .animated.bounceIn,
.ubi-web-lib .animated.bounceOut {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}
.ubi-web-lib .fa-rotate-90,
.ubi-web-lib .fa-rotate-180,
.ubi-web-lib .fa-rotate-270 {
    transition: all .5s;
}