/* Base stylesheet - Used in every templates */
html, body, div, table, h1, h2, h3, h4, tr, th, td, img, ul, ol, li, form, pre { margin: 0; padding: 0; }

html {
    background: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #666;
}
h1 {
    margin: 0 10px;
    padding: 10px;
}
h2, h3 { margin-bottom: 8px; }

a { color: #1D4B5F; text-decoration: none; }
a:hover { color: #1F90CB; text-decoration: underline; }

img { vertical-align: middle; border: 0 none; }

ul, ol { padding-left: 32px; }

li { margin-top: 4px; margin-bottom: 4px; }

p { margin-top: 8px; margin-bottom: 8px; }

object,
embed { vertical-align: top; }

sup { font-size: 0.85em; }

fieldset {
    margin: 8px 0;
    border-radius: 6px;
}
legend {
    padding: 0 4px;
    font-weight: bold;
}
legend h1,
legend h2,
legend h3 { margin: 0; }

.hidden {
    display: none!important;
}
.not-visible {
    visibility: hidden!important;
}
