/************* Colors *************/
/*
    blue: #1C73BF;
    hover: #145284;
    green: #008750;
    hover: #00AF66;
    red: #DB263D;
    hover: #9B1B2B;
    orange: #F7B407;
    hover: #FCD280;
    purple: #945498;
    hover: #;
*/
/**** Backgrounds ******/
.dropdown,
.tooltip-content,
nav.navbar,
header.header,
aside.aside,
.paragraph-block.white,
.paragraph-block .paragraph-block,
input,
select,
textarea,
button,
.button,
input[type=submit],
input[type=button] {
    background: #FFF;
}
.paragraph-block,
.paragraph-block.white .paragraph-block {
    background: #EEE;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background: #DDD;
}
button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input:disabled {
    background: #DDD!important;
}
aside.aside .aside-list-btn:hover {
    background: #C5C5C5;
}
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active
table th.header:active {
    background: #CCC;
}
table th.header:hover {
    background: #AAA;
}
.title-block,
table th,
table tfoot tr {
    background: #999;
}
input:focus,
textarea:focus,
select:focus,
.input-group.focused button,
.input-group.focused input[type="button"],
.input-group.focused input[type="submit"],
.tab-window .tab-button.active,
.tab-window .tab-button:hover,
aside.aside .list.active.black > .aside-list-btn,
button.black,
.button.black,
input[type=submit].black,
input[type=button].black {
    background: #404040;
}
.messages .message.info,
aside.aside .list.active.blue > .aside-list-btn,
button.default,
.button.default,
input[type=submit].default,
input[type=button].default,
nav.navbar .links .item:hover,
nav.navbar .links .item.active,
.bg-blue {
    background: #1C73BF;
}
button.default:hover,
.button.default:hover,
input[type=submit].default:hover,
input[type=button].default:hover,
.bg-hover-blue:hover {
    background: #145284;
}
button.default:active,
.button.default:active,
input[type=submit].default:active,
input[type=button].default:active,
.bg-active-blue:active {
    background: #145284;
}
.messages .message.success,
aside.aside .list.active.green > .aside-list-btn,
button.main,
.button.main,
input[type=submit].main,
input[type=button].main {
    background: #008750;
}
button.main:hover,
.button.main:hover,
input[type=submit].main:hover,
input[type=button].main:hover {
    background: #00AF66;
}
button.main:active,
.button.main:active,
input[type=submit].main:active,
input[type=button].main:active {
    background: #00AF66;
}
.messages .message.error,
aside.aside .list.active.red > .aside-list-btn,
button.danger,
.button.danger,
input[type=submit].danger,
input[type=button].danger {
    background: #DB263D;
}
button.danger:hover,
.button.danger:hover,
input[type=submit].danger:hover,
input[type=button].danger:hover {
    background: #9B1B2B;
}
button.danger:active,
.button.danger:active,
input[type=submit].danger:active,
input[type=button].danger:active {
    background: #9B1B2B;
}
.messages .message.warning,
aside.aside .list.active.orange > .aside-list-btn,
button.warning,
.button.warning,
input[type=submit].warning,
input[type=button].warning {
    background: #F7B407;
}

button.warning:hover,
.button.warning:hover,
input[type=submit].warning:hover,
input[type=button].warning:hover {
    background: #FCD280;
}
button.warning:active,
.button.warning:active,
input[type=submit].warning:active,
input[type=button].warning:active {
    background: #FCD280;
}

button.black:hover,
.button.black:hover,
input[type=submit].black:hover,
input[type=button].black:hover {
    background: #666;
}
button.black:active,
.button.black:active,
input[type=submit].black:active,
input[type=button].black:active {
    background: #666;
}

aside.aside .list.active.purple > .aside-list-btn,
button.purple,
.button.purple,
input[type=submit].purple,
input[type=button].purple {
    background: #945498;
}
button.purple:hover,
.button.purple:hover,
input[type=submit].purple:hover,
input[type=button].purple:hover {
    background: #945498;
}
button.purple:active,
.button.purple:active,
input[type=submit].purple:active,
input[type=button].purple:active {
    background: #945498;
}

table tr.even > td,
table.even-odd > tbody > tr:nth-child(even) > td,
table.even-odd-2 > tbody > tr:nth-child(4n) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-1) > td {
    background: rgba(220, 220, 220, 0.5);
}
table tr.odd > td,
table.even-odd > tbody > tr:nth-child(odd) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-3) > td {
    background: rgba(190, 190, 190, 0.5);
}
table tr.even.marked > td,
table.even-odd > tbody > tr.marked:nth-child(even) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-1) > td {
    background: rgba(255, 255, 200, 0.5);
}
table tr.odd.marked > td,
table.even-odd > tbody > tr.marked:nth-child(odd) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-3) > td {
    background: rgba(255, 255, 140, 0.5);
}
table tr.even.selected > td,
table.even-odd > tbody > tr.selected:nth-child(even) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-1) > td {
    background: rgba(205, 255, 205, 0.5);
}
table tr.odd.selected > td,
table.even-odd > tbody > tr.selected:nth-child(odd) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-3) > td {
    background: rgba(190, 255, 190, 0.5);
}
table.even-odd.hoverable > tbody > tr:hover > td,
table.even-odd.hoverable > tbody > tr:hover.marked > td,
table.even-odd.hoverable > tbody > tr:hover.selected > td,
table.even-odd-2.hoverable > tbody > tr:hover > td,
table.even-odd-2.hoverable > tbody > tr:hover.marked > td,
table.even-odd-2.hoverable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
table.even-odd.clickable > tbody > tr:hover > td,
table.even-odd.clickable > tbody > tr:hover.marked > td,
table.even-odd.clickable > tbody > tr:hover.selected > td,
table.even-odd-2.clickable > tbody > tr:hover > td,
table.even-odd-2.clickable > tbody > tr:hover.marked > td,
table.even-odd-2.clickable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
table.even-odd.clickable  > tbody > tr.clicked {
    background: rgba(170, 190, 240, 1);
}
/****** Borders ********/
.form-section,
table th.form-section {
    border-color: #000;
}
nav.navbar,
header.header,
.container .title,
aside.aside.aside-left,
aside.aside.aside-right,
aside.aside .list,
.footer {
    border-color: #DDD;
}
table td,
table th,
table tr {
    border-color: #FFF;
}
aside.aside .list.border-color-red {
    border-color: #DB263D;
}
aside.aside .list.border-color-blue {
    border-color: #1C73BF;
}
aside.aside .list.border-color-green {
    border-color: #008750;
}
aside.aside .list.border-color-purple {
    border-color: #945498;
}
aside.aside .list.border-color-orange {
    border-color: #F7B407;
}
aside.aside .list.border-color-black {
    border-color: #404040;
}
.dropdown,
.tooltip-content,
input,
select,
textarea,
button,
.button,
input[type=submit],
input[type=button],
.input-group input:last-child,
.input-group button:last-child {
    border-color: #CCC;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    border-color: #EEE;
}
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active {
    border-color: #DDD;
}
input[type="text"]:focus,
textarea:focus,
.input-group.focused button,
.input-group.focused input[type="button"],
.input-group.focused input[type="submit"],
.tab-window .tab-button.active,
.tab-window .tab-button:hover {
    border-color: #404040;
}
/****** Shadows ********/
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active {
    -webkit-box-shadow: inset 0px 0px 5px -2px #999;
    -moz-box-shadow: inset 0px 0px 5px -2px #999;
    box-shadow: inset 0px 0px 5px -2px #999;
}
/****** Colors *********/
html,
button,
.button,
.button:hover,
input[type=submit],
input[type=button],
.black,
.color-black,
.messages .message.warning a {
    color: #404040;
}
button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input:disabled {
    color: #404040!important;
}
h1 small {
    color: #666;
}
a:hover {
    color: #145284;
}
a,
.blue,
.color-blue {
    color: #1C73BF;
}
.green,
.color-green {
    color: #008750;
}
.red,
.color-red {
    color: #DB263D;
}
.orange,
.color-orange {
    color: #F7B407;
}
.messages .message.info,
.messages .message.info a,
.messages .message.error,
.messages .message.error a,
.messages .message.success,
.messages .message.success a,
.bg-blue,
.bg-hover-blue:hover,
.bg-active-blue:active,
button.default,
.button.default,
input[type=submit].default,
input[type=button].default,
button.main,
.button.main,
input[type=submit].main,
input[type=button].main,
button.danger,
.button.danger,
input[type=submit].danger,
input[type=button].danger,
button.default:hover,
.button.default:hover,
input[type=submit].default:hover,
input[type=button].default:hover,
button.main:hover,
.button.main:hover,
input[type=submit].main:hover,
input[type=button].main:hover,
button.danger:hover,
.button.danger:hover,
input[type=submit].danger:hover,
input[type=button].danger:hover,
button.black,
.button.black,
input[type=submit].black,
input[type=button].black,
nav.navbar .links .item:hover a,
nav.navbar .links .item.active a,
aside.aside .list.active.red > .aside-list-btn,
aside.aside .list.active.blue > .aside-list-btn,
aside.aside .list.active.purple > .aside-list-btn,
aside.aside .list.active.green > .aside-list-btn,
aside.aside .list.active.black > .aside-list-btn,
aside.aside .list.active.red > .aside-list-btn > a,
aside.aside .list.active.blue > .aside-list-btn > a,
aside.aside .list.active.purple > .aside-list-btn > a,
aside.aside .list.active.green > .aside-list-btn > a,
aside.aside .list.active.black > .aside-list-btn > a,
.title-block,
table th,
table tfoot tr,
table th.header a,
input:focus,
select:focus,
textarea:focus,
.input-group.focused button,
.input-group.focused input[type="button"],
.input-group.focused input[type="submit"],
.tab-window .tab-button.active,
.tab-window .tab-button:hover {
    color: #FFF;
}