/************* Colors *************/
/*
    white: #FFFFFF;
    black: #404040;
    blue: #274BB1;
    hover: #000F32;
    green: #008750;
    hover: #00AF66;
    red: #DB263D;
    hover: #9B1B2B;
    orange: #F7B407;
    hover: #FCD280;
    purple: #945498;
    hover: #;
*/
/**** Backgrounds ******/
.ubi-web-lib-dropdown,
.ubi-web-lib-tooltip-overlay,
.ubi-web-lib nav.navbar,
.ubi-web-lib header.header,
.ubi-web-lib .footer,
.ubi-web-lib .aside,
.ubi-web-lib input,
.ubi-web-lib select,
.ubi-web-lib textarea,
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button] {
    background: #FFF;
}
.ubi-web-lib button:hover,
.ubi-web-lib .button:hover,
.ubi-web-lib input[type=submit]:hover,
.ubi-web-lib input[type=button]:hover,
.ubi-web-lib .aside .aside-list-btn:hover,
.ubi-web-lib .aside .aside-list-btn:hover > button {
    background: #DDD;
}
.ubi-web-lib button:active,
.ubi-web-lib .button:active,
.ubi-web-lib input[type=submit]:active,
.ubi-web-lib input[type=button]:active
.ubi-web-lib table th.header:active {
    background: #CCC;
}
.ubi-web-lib table.even-odd button:hover,
.ubi-web-lib table.even-odd .button:hover,
.ubi-web-lib table.even-odd input[type=submit]:hover,
.ubi-web-lib table.even-odd input[type=button]:hover {
    background: #FFF;
}
.ubi-web-lib table.even-odd button:active,
.ubi-web-lib table.even-odd .button:active,
.ubi-web-lib table.even-odd input[type=submit]:active,
.ubi-web-lib table.even-odd input[type=button]:active
.ubi-web-lib table th.header:active {
    background: #FFF;
}
.ubi-web-lib table th.header:hover {
    background: #666;
}
.ubi-web-lib .title-block,
.ubi-web-lib table th,
.ubi-web-lib table tfoot tr {
    background: #333;
}
.ubi-web-lib .bg-gray {
    background: #D4D4D4;
}
.ubi-web-lib input:focus,
.ubi-web-lib textarea:focus,
.ubi-web-lib select:focus,
.ubi-web-lib .input-group.focused button,
.ubi-web-lib .input-group.focused input[type="button"],
.ubi-web-lib .input-group.focused input[type="submit"],
.ubi-web-lib .tab-window .tab-button.active,
.ubi-web-lib .tab-window .tab-button:hover,
.ubi-web-lib .aside .list.active.black > .aside-list-btn,
.ubi-web-lib button.black,
.ubi-web-lib .button.black,
.ubi-web-lib input[type=submit].black,
.ubi-web-lib input[type=button].black {
    background: #404040;
}
.ubi-web-lib .message.info,
.ubi-web-lib .aside .list.active.blue > .aside-list-btn,
.ubi-web-lib button.default,
.ubi-web-lib .button.default,
.ubi-web-lib input[type=submit].default,
.ubi-web-lib input[type=button].default,
.ubi-web-lib nav.navbar .links .item:hover,
.ubi-web-lib nav.navbar .links .item.active,
.ubi-web-lib .bg-blue {
    background: #274BB1;
}
.ubi-web-lib button.default:hover,
.ubi-web-lib .button.default:hover,
.ubi-web-lib input[type=submit].default:hover,
.ubi-web-lib input[type=button].default:hover,
.ubi-web-lib .bg-hover-blue:hover,
.ubi-web-lib .bg-focus-blue:focus,
.ubi-web-lib button.default:active,
.ubi-web-lib .button.default:active,
.ubi-web-lib input[type=submit].default:active,
.ubi-web-lib input[type=button].default:active,
.ubi-web-lib .bg-active-blue:active,
.ubi-web-lib table.even-odd button.default:hover,
.ubi-web-lib table.even-odd .button.default:hover,
.ubi-web-lib table.even-odd input[type=submit].default:hover,
.ubi-web-lib table.even-odd input[type=button].default:hover
.ubi-web-lib table.even-odd button.default:active,
.ubi-web-lib table.even-odd .button.default:active,
.ubi-web-lib table.even-odd input[type=submit].default:active,
.ubi-web-lib table.even-odd input[type=button].default:active {
    background: #000F32;
}
.ubi-web-lib .message.success,
.ubi-web-lib .aside .list.active.green > .aside-list-btn,
.ubi-web-lib button.main,
.ubi-web-lib .button.main,
.ubi-web-lib input[type=submit].main,
.ubi-web-lib input[type=button].main {
    background: #008750;
}
.ubi-web-lib button.main:hover,
.ubi-web-lib .button.main:hover,
.ubi-web-lib input[type=submit].main:hover,
.ubi-web-lib input[type=button].main:hover,
.ubi-web-lib button.main:active,
.ubi-web-lib .button.main:active,
.ubi-web-lib input[type=submit].main:active,
.ubi-web-lib input[type=button].main:active,
.ubi-web-lib table.even-odd button.main:hover,
.ubi-web-lib table.even-odd .button.main:hover,
.ubi-web-lib table.even-odd input[type=submit].main:hover,
.ubi-web-lib table.even-odd input[type=button].main:hover
.ubi-web-lib table.even-odd button.main:active,
.ubi-web-lib table.even-odd .button.main:active,
.ubi-web-lib table.even-odd input[type=submit].main:active,
.ubi-web-lib table.even-odd input[type=button].main:active {
    background: #00AF66;
}
.ubi-web-lib .message.error,
.ubi-web-lib .aside .list.active.red > .aside-list-btn,
.ubi-web-lib button.danger,
.ubi-web-lib .button.danger,
.ubi-web-lib input[type=submit].danger,
.ubi-web-lib input[type=button].danger {
    background: #DB263D;
}
.ubi-web-lib button.danger:hover,
.ubi-web-lib .button.danger:hover,
.ubi-web-lib input[type=submit].danger:hover,
.ubi-web-lib input[type=button].danger:hover,
.ubi-web-lib button.danger:active,
.ubi-web-lib .button.danger:active,
.ubi-web-lib input[type=submit].danger:active,
.ubi-web-lib input[type=button].danger:active,
.ubi-web-lib table.even-odd button.danger:hover,
.ubi-web-lib table.even-odd .button.danger:hover,
.ubi-web-lib table.even-odd input[type=submit].danger:hover,
.ubi-web-lib table.even-odd input[type=button].danger:hover
.ubi-web-lib table.even-odd button.danger:active,
.ubi-web-lib table.even-odd .button.danger:active,
.ubi-web-lib table.even-odd input[type=submit].danger:active,
.ubi-web-lib table.even-odd input[type=button].danger:active {
    background: #9B1B2B;
}
.ubi-web-lib .message.warning,
.ubi-web-lib .aside .list.active.orange > .aside-list-btn,
.ubi-web-lib button.warning,
.ubi-web-lib .button.warning,
.ubi-web-lib input[type=submit].warning,
.ubi-web-lib input[type=button].warning {
    background: #F7B407;
}

.ubi-web-lib button.warning:hover,
.ubi-web-lib .button.warning:hover,
.ubi-web-lib input[type=submit].warning:hover,
.ubi-web-lib input[type=button].warning:hover,
.ubi-web-lib button.warning:active,
.ubi-web-lib .button.warning:active,
.ubi-web-lib input[type=submit].warning:active,
.ubi-web-lib input[type=button].warning:active,
.ubi-web-lib table.even-odd button.warning:hover,
.ubi-web-lib table.even-odd .button.warning:hover,
.ubi-web-lib table.even-odd input[type=submit].warning:hover,
.ubi-web-lib table.even-odd input[type=button].warning:hover
.ubi-web-lib table.even-odd button.warning:active,
.ubi-web-lib table.even-odd .button.warning:active,
.ubi-web-lib table.even-odd input[type=submit].warning:active,
.ubi-web-lib table.even-odd input[type=button].warning:active {
    background: #FCD280;
}

.ubi-web-lib button.black:hover,
.ubi-web-lib .button.black:hover,
.ubi-web-lib input[type=submit].black:hover,
.ubi-web-lib input[type=button].black:hover,
.ubi-web-lib button.black:active,
.ubi-web-lib .button.black:active,
.ubi-web-lib input[type=submit].black:active,
.ubi-web-lib input[type=button].black:active,
.ubi-web-lib table.even-odd button.black:hover,
.ubi-web-lib table.even-odd .button.black:hover,
.ubi-web-lib table.even-odd input[type=submit].black:hover,
.ubi-web-lib table.even-odd input[type=button].black:hover
.ubi-web-lib table.even-odd button.black:active,
.ubi-web-lib table.even-odd .button.black:active,
.ubi-web-lib table.even-odd input[type=submit].black:active,
.ubi-web-lib table.even-odd input[type=button].black:active {
    background: #666;
}

.ubi-web-lib .aside .list.active.purple > .aside-list-btn,
.ubi-web-lib button.purple,
.ubi-web-lib .button.purple,
.ubi-web-lib input[type=submit].purple,
.ubi-web-lib input[type=button].purple {
    background: #945498;
}
.ubi-web-lib button.purple:hover,
.ubi-web-lib .button.purple:hover,
.ubi-web-lib input[type=submit].purple:hover,
.ubi-web-lib input[type=button].purple:hover,
.ubi-web-lib button.purple:active,
.ubi-web-lib .button.purple:active,
.ubi-web-lib input[type=submit].purple:active,
.ubi-web-lib input[type=button].purple:active,
.ubi-web-lib table.even-odd button.purple:hover,
.ubi-web-lib table.even-odd .button.purple:hover,
.ubi-web-lib table.even-odd input[type=submit].purple:hover,
.ubi-web-lib table.even-odd input[type=button].purple:hover
.ubi-web-lib table.even-odd button.purple:active,
.ubi-web-lib table.even-odd .button.purple:active,
.ubi-web-lib table.even-odd input[type=submit].purple:active,
.ubi-web-lib table.even-odd input[type=button].purple:active {
    background: #945498;
}

.ubi-web-lib table tr.even > td,
.ubi-web-lib table.even-odd > tbody > tr:nth-child(even) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr:nth-child(4n) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr:nth-child(4n-1) > td {
    background: rgba(220, 220, 220, 0.5);
}
.ubi-web-lib table tr.odd > td,
.ubi-web-lib table.even-odd > tbody > tr:nth-child(odd) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr:nth-child(4n-2) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr:nth-child(4n-3) > td {
    background: rgba(190, 190, 190, 0.5);
}
.ubi-web-lib table tr.even.marked > td,
.ubi-web-lib table.even-odd > tbody > tr.marked:nth-child(even) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.marked:nth-child(4n) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.marked:nth-child(4n-1) > td {
    background: rgba(255, 255, 200, 0.5);
}
.ubi-web-lib table tr.odd.marked > td,
.ubi-web-lib table.even-odd > tbody > tr.marked:nth-child(odd) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.marked:nth-child(4n-2) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.marked:nth-child(4n-3) > td {
    background: rgba(255, 255, 140, 0.5);
}
.ubi-web-lib table tr.even.selected > td,
.ubi-web-lib table.even-odd > tbody > tr.selected:nth-child(even) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.selected:nth-child(4n) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.selected:nth-child(4n-1) > td {
    background: rgba(205, 255, 205, 0.5);
}
.ubi-web-lib table tr.odd.selected > td,
.ubi-web-lib table.even-odd > tbody > tr.selected:nth-child(odd) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.selected:nth-child(4n-2) > td,
.ubi-web-lib table.even-odd-2 > tbody > tr.selected:nth-child(4n-3) > td {
    background: rgba(190, 255, 190, 0.5);
}
.ubi-web-lib table.even-odd.hoverable > tbody > tr:hover > td,
.ubi-web-lib table.even-odd.hoverable > tbody > tr:hover.marked > td,
.ubi-web-lib table.even-odd.hoverable > tbody > tr:hover.selected > td,
.ubi-web-lib table.even-odd-2.hoverable > tbody > tr:hover > td,
.ubi-web-lib table.even-odd-2.hoverable > tbody > tr:hover.marked > td,
.ubi-web-lib table.even-odd-2.hoverable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
.ubi-web-lib table.even-odd.clickable > tbody > tr:hover > td,
.ubi-web-lib table.even-odd.clickable > tbody > tr:hover.marked > td,
.ubi-web-lib table.even-odd.clickable > tbody > tr:hover.selected > td,
.ubi-web-lib table.even-odd-2.clickable > tbody > tr:hover > td,
.ubi-web-lib table.even-odd-2.clickable > tbody > tr:hover.marked > td,
.ubi-web-lib table.even-odd-2.clickable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
.ubi-web-lib table.even-odd.clickable  > tbody > tr.clicked {
    background: rgba(170, 190, 240, 1);
}
.ubi-web-lib button:disabled,
.ubi-web-lib .button:disabled,
.ubi-web-lib .button.disabled,
.ubi-web-lib input[type=submit]:disabled,
.ubi-web-lib input[type=button]:disabled,
.ubi-web-lib input:disabled,
.ubi-web-lib textarea:disabled {
    background: #DDD !important;
}
.ubi-web-lib a.disabled {
    background: inherit !important;
}
/****** Borders ********/
.ubi-web-lib .form-section,
.ubi-web-lib table th.form-section {
    border-color: #000;
}
.ubi-web-lib nav.navbar,
.ubi-web-lib header.header,
.ubi-web-lib .container .title,
.ubi-web-lib .aside.aside-left,
.ubi-web-lib .aside.aside-right,
.ubi-web-lib .footer {
    border-color: #DDD;
}
.ubi-web-lib table td,
.ubi-web-lib table th,
.ubi-web-lib table tr {
    border-color: #FFF;
}
.ubi-web-lib .border-color-red {
    border-color: #DB263D;
}
.ubi-web-lib .border-color-blue {
    border-color: #274BB1;
}
.ubi-web-lib .border-color-green {
    border-color: #008750;
}
.ubi-web-lib .border-color-purple {
    border-color: #945498;
}
.ubi-web-lib .border-color-orange {
    border-color: #F7B407;
}
.ubi-web-lib .border-color-black {
    border-color: #404040;
}
.ubi-web-lib .border-color-gray {
    border-color: #D4D4D4;
}
.ubi-web-lib-dropdown,
.ubi-web-lib-tooltip-overlay,
.ubi-web-lib input,
.ubi-web-lib select,
.ubi-web-lib textarea,
.ubi-web-lib .input-group input:last-child,
.ubi-web-lib .input-group button:last-child,
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button],
.ubi-web-lib button:hover,
.ubi-web-lib .button:hover,
.ubi-web-lib input[type=submit]:hover,
.ubi-web-lib input[type=button]:hover,
.ubi-web-lib button:active,
.ubi-web-lib .button:active,
.ubi-web-lib input[type=submit]:active,
.ubi-web-lib input[type=button]:active {
    border-color: #DEDEDE;
}
.ubi-web-lib button.default,
.ubi-web-lib .button.default,
.ubi-web-lib input[type=submit].default,
.ubi-web-lib input[type=button].default,
.ubi-web-lib button.main,
.ubi-web-lib .button.main,
.ubi-web-lib input[type=submit].main,
.ubi-web-lib input[type=button].main,
.ubi-web-lib button.danger,
.ubi-web-lib .button.danger,
.ubi-web-lib input[type=submit].danger,
.ubi-web-lib input[type=button].danger,
.ubi-web-lib button.black,
.ubi-web-lib .button.black,
.ubi-web-lib input[type=submit].black,
.ubi-web-lib input[type=button].black,
.ubi-web-lib button.purple,
.ubi-web-lib .button.purple,
.ubi-web-lib input[type=submit].purple,
.ubi-web-lib input[type=button].purple,
.ubi-web-lib button.default:active,
.ubi-web-lib .button.default:active,
.ubi-web-lib input[type=submit].default:active,
.ubi-web-lib input[type=button].default:active,
.ubi-web-lib button.main:active,
.ubi-web-lib .button.main:active,
.ubi-web-lib input[type=submit].main:active,
.ubi-web-lib input[type=button].main:active,
.ubi-web-lib button.danger:active,
.ubi-web-lib .button.danger:active,
.ubi-web-lib input[type=submit].danger:active,
.ubi-web-lib input[type=button].danger:active,
.ubi-web-lib button.black:active,
.ubi-web-lib .button.black:active,
.ubi-web-lib input[type=submit].black:active,
.ubi-web-lib input[type=button].black:active,
.ubi-web-lib button.purple:active,
.ubi-web-lib .button.purple:active,
.ubi-web-lib input[type=submit].purple:active,
.ubi-web-lib input[type=button].purple:active,
.ubi-web-lib button.default:hover,
.ubi-web-lib .button.default:hover,
.ubi-web-lib input[type=submit].default:hover,
.ubi-web-lib input[type=button].default:hover,
.ubi-web-lib button.main:hover,
.ubi-web-lib .button.main:hover,
.ubi-web-lib input[type=submit].main:hover,
.ubi-web-lib input[type=button].main:hover,
.ubi-web-lib button.danger:hover,
.ubi-web-lib .button.danger:hover,
.ubi-web-lib input[type=submit].danger:hover,
.ubi-web-lib input[type=button].danger:hover,
.ubi-web-lib button.black:hover,
.ubi-web-lib .button.black:hover,
.ubi-web-lib input[type=submit].black:hover,
.ubi-web-lib input[type=button].black:hover,
.ubi-web-lib button.purple:hover,
.ubi-web-lib .button.purple:hover,
.ubi-web-lib input[type=submit].purple:hover,
.ubi-web-lib input[type=button].purple:hover {
    border-color: transparent;
}
.ubi-web-lib input[type="text"]:focus,
.ubi-web-lib textarea:focus,
.ubi-web-lib .input-group.focused button,
.ubi-web-lib .input-group.focused input[type="button"],
.ubi-web-lib .input-group.focused input[type="submit"],
.ubi-web-lib .tab-window .tab-button.active,
.ubi-web-lib .tab-window .tab-button:hover {
    border-color: #404040;
}
/****** Shadows ********/
.ubi-web-lib button:active,
.ubi-web-lib .button:active,
.ubi-web-lib input[type=submit]:active,
.ubi-web-lib input[type=button]:active {
    -webkit-box-shadow: inset 0px 0px 5px -2px #999;
    -moz-box-shadow: inset 0px 0px 5px -2px #999;
    box-shadow: inset 0px 0px 5px -2px #999;
}
/****** Colors *********/
html,
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib .button:hover,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button],
.ubi-web-lib-tooltip-overlay,
.ubi-web-lib .black,
.ubi-web-lib .color-black,
.ubi-web-lib-dropdown,
.ubi-web-lib .message.warning a {
    color: #404040;
}
.ubi-web-lib h1 small {
    color: #666;
}
.ubi-web-lib .color-gray {
    color: #D4D4D4;
}
.ubi-web-lib a:hover {
    color: #000F32;
}
.ubi-web-lib a,
.ubi-web-lib .blue,
.ubi-web-lib .color-blue {
    color: #274BB1;
}
.green,
.color-green {
    color: #008750;
}
.ubi-web-lib .red,
.ubi-web-lib .color-red {
    color: #DB263D;
}
.ubi-web-lib .orange,
.ubi-web-lib .color-orange {
    color: #F7B407;
}
.ubi-web-lib .message.info,
.ubi-web-lib .message.info a,
.ubi-web-lib .message.info .button-text,
.ubi-web-lib .message.error,
.ubi-web-lib .message.error a,
.ubi-web-lib .message.error .button-text,
.ubi-web-lib .message.success,
.ubi-web-lib .message.success a,
.ubi-web-lib .message.success .button-text,
.ubi-web-lib .bg-blue,
.ubi-web-lib .bg-hover-blue:hover,
.ubi-web-lib .bg-focus-blue:focus,
.ubi-web-lib .bg-active-blue:active,
.ubi-web-lib button.default,
.ubi-web-lib .button.default,
.ubi-web-lib input[type=submit].default,
.ubi-web-lib input[type=button].default,
.ubi-web-lib button.main,
.ubi-web-lib .button.main,
.ubi-web-lib input[type=submit].main,
.ubi-web-lib input[type=button].main,
.ubi-web-lib button.danger,
.ubi-web-lib .button.danger,
.ubi-web-lib input[type=submit].danger,
.ubi-web-lib input[type=button].danger,
.ubi-web-lib button.black,
.ubi-web-lib .button.black,
.ubi-web-lib input[type=submit].black,
.ubi-web-lib input[type=button].black,
.ubi-web-lib button.purple,
.ubi-web-lib .button.purple,
.ubi-web-lib input[type=submit].purple,
.ubi-web-lib input[type=button].purple,
.ubi-web-lib button.default:active,
.ubi-web-lib .button.default:active,
.ubi-web-lib input[type=submit].default:active,
.ubi-web-lib input[type=button].default:active,
.ubi-web-lib button.main:active,
.ubi-web-lib .button.main:active,
.ubi-web-lib input[type=submit].main:active,
.ubi-web-lib input[type=button].main:active,
.ubi-web-lib button.danger:active,
.ubi-web-lib .button.danger:active,
.ubi-web-lib input[type=submit].danger:active,
.ubi-web-lib input[type=button].danger:active,
.ubi-web-lib button.black:active,
.ubi-web-lib .button.black:active,
.ubi-web-lib input[type=submit].black:active,
.ubi-web-lib input[type=button].black:active,
.ubi-web-lib button.purple:active,
.ubi-web-lib .button.purple:active,
.ubi-web-lib input[type=submit].purple:active,
.ubi-web-lib input[type=button].purple:active,
.ubi-web-lib button.default:hover,
.ubi-web-lib .button.default:hover,
.ubi-web-lib input[type=submit].default:hover,
.ubi-web-lib input[type=button].default:hover,
.ubi-web-lib button.main:hover,
.ubi-web-lib .button.main:hover,
.ubi-web-lib input[type=submit].main:hover,
.ubi-web-lib input[type=button].main:hover,
.ubi-web-lib button.danger:hover,
.ubi-web-lib .button.danger:hover,
.ubi-web-lib input[type=submit].danger:hover,
.ubi-web-lib input[type=button].danger:hover,
.ubi-web-lib button.black:hover,
.ubi-web-lib .button.black:hover,
.ubi-web-lib input[type=submit].black:hover,
.ubi-web-lib input[type=button].black:hover,
.ubi-web-lib button.purple:hover,
.ubi-web-lib .button.purple:hover,
.ubi-web-lib input[type=submit].purple:hover,
.ubi-web-lib input[type=button].purple:hover,
.ubi-web-lib nav.navbar .links .item:hover a,
.ubi-web-lib nav.navbar .links .item.active a,
.ubi-web-lib .aside .list.active.red > .aside-list-btn,
.ubi-web-lib .aside .list.active.blue > .aside-list-btn,
.ubi-web-lib .aside .list.active.purple > .aside-list-btn,
.ubi-web-lib .aside .list.active.green > .aside-list-btn,
.ubi-web-lib .aside .list.active.black > .aside-list-btn,
.ubi-web-lib .aside .list.active.red > .aside-list-btn > a,
.ubi-web-lib .aside .list.active.blue > .aside-list-btn > a,
.ubi-web-lib .aside .list.active.purple > .aside-list-btn > a,
.ubi-web-lib .aside .list.active.green > .aside-list-btn > a,
.ubi-web-lib .aside .list.active.black > .aside-list-btn > a,
.ubi-web-lib .title-block,
.ubi-web-lib table th,
.ubi-web-lib table th a,
.ubi-web-lib table th a:hover,
.ubi-web-lib table tfoot tr,
.ubi-web-lib table th.header a,
.ubi-web-lib table th.header a:hover,
.ubi-web-lib input:focus,
.ubi-web-lib select:focus,
.ubi-web-lib textarea:focus,
.ubi-web-lib .input-group.focused button,
.ubi-web-lib .input-group.focused input[type="button"],
.ubi-web-lib .input-group.focused input[type="submit"],
.ubi-web-lib .tab-window .tab-button.active,
.ubi-web-lib .tab-window .tab-button:hover {
    color: #FFF;
}

.ubi-web-lib button:disabled,
.ubi-web-lib .button:disabled,
.ubi-web-lib .button.disabled,
.ubi-web-lib input[type=submit]:disabled,
.ubi-web-lib input[type=button]:disabled,
.ubi-web-lib input:disabled,
.ubi-web-lib textarea:disabled {
    color: #404040 !important;
}
.ubi-web-lib a.disabled {
    color: #DDD !important;
}