/************* Colors *************/
/**** Backgrounds ******/
.dropdown,
.tooltip-content,
nav.navbar,
header.header,
aside.aside,
.paragraph-block.white,
.paragraph-block .paragraph-block {
    background: #FFF;
}
.paragraph-block,
.paragraph-block.white .paragraph-block {
    background: #EEE;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
aside.aside .aside-list-btn:hover,
.tab-window .tab-button:hover,
.tab-window .tab-button {
    background: #DDD;
}
button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input:disabled {
    background: #DDD!important;
}
.tab-window .tab-button.active,
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active
table th.header:active {
    background: #CCC;
}
table th.header:hover {
    background: #AAA;
}
.title-block,
table th,
table tfoot tr {
    background: #999;
}
input[type="text"]:focus,
textarea:focus,
input-group.focused input[type="button"],
input-group.focused input[type="submit"] {
    background: #404040;
}
.messages .message.info,
aside.aside .list.active.blue > .aside-list-btn,
button.default,
.button.default,
input[type=submit].default,
input[type=button].default,
nav.navbar .links .item:hover,
nav.navbar .links .item.active {
    background: #3D6B7F;
}
button.default:hover,
.button.default:hover,
input[type=submit].default:hover,
input[type=button].default:hover {
    background: #1D4B5F;
}
button.default:active,
.button.default:active,
input[type=submit].default:active,
input[type=button].default:active {
    background: #0D3B4F;
}
.messages .message.success,
aside.aside .list.active.green > .aside-list-btn,
button.main,
.button.main,
input[type=submit].main,
input[type=button].main {
    background: #0A0;
}
button.main:hover,
.button.main:hover,
input[type=submit].main:hover,
input[type=button].main:hover {
    background: #090;
}
button.main:active,
.button.main:active,
input[type=submit].main:active,
input[type=button].main:active {
    background: #080;
}
.messages .message.error,
aside.aside .list.active.red > .aside-list-btn,
button.danger,
.button.danger,
input[type=submit].danger,
input[type=button].danger {
    background: #E00;
}
button.danger:hover,
.button.danger:hover,
input[type=submit].danger:hover,
input[type=button].danger:hover {
    background: #D00;
}
button.danger:active,
.button.danger:active,
input[type=submit].danger:active,
input[type=button].danger:active {
    background: #C00;
}
.messages .message.warning,
aside.aside .list.active.orange > .aside-list-btn,
button.warning,
.button.warning,
input[type=submit].warning,
input[type=button].warning {
    background: #EEAA50;
}

button.warning:hover,
.button.warning:hover,
input[type=submit].warning:hover,
input[type=button].warning:hover {
    background: #DD9940;
}
button.warning:active,
.button.warning:active,
input[type=submit].warning:active,
input[type=button].warning:active {
    background: #CC8830;
}
aside.aside .list.active.yellow > .aside-list-btn {
    background: #DD0;
}
aside.aside .list.active.purple > .aside-list-btn {
    background: #D0D;
}
table tr.even > td,
table.even-odd > tbody > tr:nth-child(even) > td,
table.even-odd-2 > tbody > tr:nth-child(4n) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-1) > td {
    background: rgba(220, 220, 220, 0.5);
}
table tr.odd > td,
table.even-odd > tbody > tr:nth-child(odd) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr:nth-child(4n-3) > td {
    background: rgba(190, 190, 190, 0.5);
}
table tr.even.marked > td,
table.even-odd > tbody > tr.marked:nth-child(even) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-1) > td {
    background: rgba(255, 255, 200, 0.5);
}
table tr.odd.marked > td,
table.even-odd > tbody > tr.marked:nth-child(odd) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr.marked:nth-child(4n-3) > td {
    background: rgba(255, 255, 140, 0.5);
}
table tr.even.selected > td,
table.even-odd > tbody > tr.selected:nth-child(even) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-1) > td {
    background: rgba(205, 255, 205, 0.5);
}
table tr.odd.selected > td,
table.even-odd > tbody > tr.selected:nth-child(odd) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-2) > td,
table.even-odd-2 > tbody > tr.selected:nth-child(4n-3) > td {
    background: rgba(190, 255, 190, 0.5);
}
table.even-odd.hoverable > tbody > tr:hover > td,
table.even-odd.hoverable > tbody > tr:hover.marked > td,
table.even-odd.hoverable > tbody > tr:hover.selected > td,
table.even-odd-2.hoverable > tbody > tr:hover > td,
table.even-odd-2.hoverable > tbody > tr:hover.marked > td,
table.even-odd-2.hoverable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
table.even-odd.clickable > tbody > tr:hover > td,
table.even-odd.clickable > tbody > tr:hover.marked > td,
table.even-odd.clickable > tbody > tr:hover.selected > td,
table.even-odd-2.clickable > tbody > tr:hover > td,
table.even-odd-2.clickable > tbody > tr:hover.marked > td,
table.even-odd-2.clickable > tbody > tr:hover.selected > td  {
    background: rgba(170, 190, 240, 0.5);
}
table.even-odd.clickable  > tbody > tr.clicked {
    background: rgba(170, 190, 240, 1);
}
/****** Borders ********/
.form-section,
table th.form-section {
    border-color: #000;
}
nav.navbar,
header.header,
.container .title,
aside.aside.aside-left,
aside.aside.aside-right,
aside.aside .list,
.footer {
    border-color: #DDD;
}
table td,
table th,
table tr {
    border-color: #FFF;
}
aside.aside .list.border-color-red {
    border-color: #E00;
}
aside.aside .list.border-color-blue {
    border-color: #3D6B7F;
}
aside.aside .list.border-color-green {
    border-color: #0A0;
}
aside.aside .list.border-color-yellow {
    border-color: #DD0;
}
aside.aside .list.border-color-purple {
    border-color: #D0D;
}
aside.aside .list.border-color-orange {
    border-color: #EEAA50;
}
.dropdown,
.tooltip-content,
input,
select,
textarea,
button,
.button,
input[type=submit],
input[type=button],
.input-group input:last-child,
.input-group button:last-child {
    border-color: #CCC;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    border-color: #EEE;
}
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active {
    border-color: #DDD;
}
input[type="text"]:focus,
textarea:focus,
input-group.focused input[type="button"],
input-group.focused input[type="submit"] {
    border-color: #404040;
}
/****** Shadows ********/
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active {
    -webkit-box-shadow: inset 0px 0px 5px -2px #999;
    -moz-box-shadow: inset 0px 0px 5px -2px #999;
    box-shadow: inset 0px 0px 5px -2px #999;
}
/****** Colors *********/
html,
button,
.button,
.button:hover,
input[type=submit],
input[type=button] {
    color: #404040;
}
button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input:disabled {
    color: #404040!important;
}
h1 small {
    color: #666;
}
a {
    color: #3D6B7F;
}
a:hover,
.tab-window .tab-button:hover {
    color: #1D4B5F;
}
.tab-window .tab-button.active {
    color: #0D3B4F;
}
.blue,
.color-blue {
    color: #3D6B7F;
}
.green,
.color-green {
    color: #0A0;
}
.red,
.color-red {
    color: #E00;
}
.orange,
.color-orange {
    color: #EEAA50;
}
.messages .message a,
.messages .message.warning,
.messages .message.info,
.messages .message.error,
.messages .message.success,
button.default,
.button.default,
input[type=submit].default,
input[type=button].default,
button.main,
.button.main,
input[type=submit].main,
input[type=button].main,
button.danger,
.button.danger,
input[type=submit].danger,
input[type=button].danger,
button.warning,
.button.warning,
input[type=submit].warning,
input[type=button].warning,
button.default:hover,
.button.default:hover,
input[type=submit].default:hover,
input[type=button].default:hover,
button.main:hover,
.button.main:hover,
input[type=submit].main:hover,
input[type=button].main:hover,
button.danger:hover,
.button.danger:hover,
input[type=submit].danger:hover,
input[type=button].danger:hover,
button.warning:hover,
.button.warning:hover,
input[type=submit].warning:hover,
input[type=button].warning:hover,
nav.navbar .links .item:hover a,
nav.navbar .links .item.active a,
aside.aside .list.active.red > .aside-list-btn,
aside.aside .list.active.blue > .aside-list-btn,
aside.aside .list.active.purple > .aside-list-btn,
aside.aside .list.active.green > .aside-list-btn,
aside.aside .list.active.orange > .aside-list-btn,
aside.aside .list.active.yellow > .aside-list-btn,
aside.aside .list.active.red > .aside-list-btn > a,
aside.aside .list.active.blue > .aside-list-btn > a,
aside.aside .list.active.purple > .aside-list-btn > a,
aside.aside .list.active.green > .aside-list-btn > a,
aside.aside .list.active.orange > .aside-list-btn > a,
aside.aside .list.active.yellow > .aside-list-btn > a,
.title-block,
table th,
table tfoot tr,
table th.header a,
input[type="text"]:focus,
textarea:focus,
input-group.focused input[type="button"],
input-group.focused input[type="submit"] {
    color: #FFF;
}