/* css for buttons and inputs */
.ubi-web-lib input,
.ubi-web-lib select,
.ubi-web-lib .button,
.ubi-web-lib button {
    vertical-align: middle;
}
.ubi-web-lib textarea {
    vertical-align: top;
    max-width: 100%;
}
.ubi-web-lib input,
.ubi-web-lib select,
.ubi-web-lib textarea,
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button] {
    line-height: 1.5;
    border: 1px solid;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ubi-web-lib input,
.ubi-web-lib textarea {
    padding: 3px 4px;
}
.ubi-web-lib select,
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button] {
    padding: 3px 8px;
}
.ubi-web-lib button,
.ubi-web-lib .button,
.ubi-web-lib input[type=submit],
.ubi-web-lib input[type=button] {
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    display: inline; /* fallback */
    display: inline-block;

    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
}
.ubi-web-lib button i.fa-spin,
.ubi-web-lib .button i.fa-spin {
    display: inline-block;
}
.ubi-web-lib button:disabled,
.ubi-web-lib .button:disabled,
.ubi-web-lib .button.disabled,
.ubi-web-lib input[type=submit]:disabled,
.ubi-web-lib input[type=button]:disabled,
.ubi-web-lib input:disabled,
.ubi-web-lib textarea:disabled,
.ubi-web-lib select:disabled {
    opacity: 0.6;
    cursor: default;
}
.ubi-web-lib button.button-block,
.ubi-web-lib input[type=submit].button-block,
.ubi-web-lib input[type=button].button-block,
.ubi-web-lib .button.button-block {
    display: block;
    width: 100%;
}
.ubi-web-lib button.button-block i:first-child,
.ubi-web-lib .button.button-block i:first-child,
.ubi-web-lib input[type=submit].button-block i:first-child,
.ubi-web-lib input[type=button].button-block i:first-child {
    padding: 0;
}
/******** button with only text effects *******/
.ubi-web-lib .button.button-text,
.ubi-web-lib .button-text {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}
.ubi-web-lib .button.button-text:hover,
.ubi-web-lib .button-text:hover {
    background: none;
}
.ubi-web-lib .button.button-text:active,
.ubi-web-lib .button-text:active {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ubi-web-lib .label {
    line-height: 1.8;
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}
.ubi-web-lib td.input { width: 100%; }
.ubi-web-lib input.small,
.ubi-web-lib textarea.small {
    width: 4em;
    text-align: center;
}
.ubi-web-lib input.medium,
.ubi-web-lib textarea.medium {
    width: 20em;
}
.ubi-web-lib input.large,
.ubi-web-lib textarea.large {
    width: 100%;
}
.ubi-web-lib textarea.large {
    height: 12em;
}
.ubi-web-lib .select::after {
    position: absolute;
    right: 0.7em;
    top: 0.1em;
    font-family: "FontAwesome";
    content: "\f107";
    pointer-events: none;
}
.ubi-web-lib .select {
    position: relative;
}
.ubi-web-lib .select select {
    padding-right: 1.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.ubi-web-lib .input-group input,
.ubi-web-lib .input-group button,
.ubi-web-lib .input-group a {
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}
.ubi-web-lib .input-group input:last-child,
.ubi-web-lib .input-group button:last-child,
.ubi-web-lib .input-group a:last-child {
    border-right: 1px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ubi-web-lib .button.marged {
    margin-left: 24px;
}
.ubi-web-lib .button + .button,
.ubi-web-lib .button + form .button {
    margin-left: 8px;
}
.ubi-web-lib .button.right + .button {
    margin-left: 0;
}
.ubi-web-lib .button.right + .button.right,
.ubi-web-lib .button.right + form .button.right {
    margin-left: 0;
    margin-right: 8px;
}
.ubi-web-lib .full-input input[type=text],
.ubi-web-lib .full-input input[type=password],
.ubi-web-lib .full-input textarea { width: 100%; }
.ubi-web-lib .full-input textarea { height: 16em; }

.ubi-web-lib .tox .tox-statusbar .tox-statusbar__branding { display: none; }

.ubi-web-lib .button-fixed-bottom-right button,
.ubi-web-lib .button-fixed-bottom-right input[type=submit],
.ubi-web-lib .button-fixed-bottom-right input[type=button],
.ubi-web-lib .button-fixed-bottom-right .button,
.ubi-web-lib .button-fixed-bottom-left button,
.ubi-web-lib .button-fixed-bottom-left input[type=submit],
.ubi-web-lib .button-fixed-bottom-left input[type=button],
.ubi-web-lib .button-fixed-bottom-left .button {
    padding: 10px;
    bottom: 0;
    position: fixed;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
}
.ubi-web-lib .button-fixed-bottom-right button,
.ubi-web-lib .button-fixed-bottom-right input[type=submit],
.ubi-web-lib .button-fixed-bottom-right input[type=button],
.ubi-web-lib .button-fixed-bottom-right .button {
    right: 10%;
}
.ubi-web-lib .button-fixed-bottom-left button,
.ubi-web-lib .button-fixed-bottom-left input[type=submit],
.ubi-web-lib .button-fixed-bottom-left input[type=button],
.ubi-web-lib .button-fixed-bottom-left .button {
    left: 10%;
}