@media (max-width: 10000px) {

}
@media (max-width: 1920px) {
    .ubi-web-lib .hidden-below-1920 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
@media (max-width: 1600px) {
    .ubi-web-lib .hidden-below-1600 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
@media (max-width: 1280px) {
    .ubi-web-lib header.header .header-logo {
        max-width: 200px;
    }
    .ubi-web-lib .hidden-below-1280 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
@media (max-width: 960px) {
    .ubi-web-lib .hidden-below-960 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
@media (max-width: 800px) {
    .ubi-web-lib header.header .header-logo-small {
        display: inline-block;
        max-height: 40px;
        padding-left: 10px;
    }
    .ubi-web-lib header.header .header-logo {
        display: none;
    }
    .ubi-web-lib .column-2 {
        width: 100%;
    }
    .ubi-web-lib .column-3 {
        width: 100%;
    }
    .ubi-web-lib .hidden-below-800 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
@media (max-width: 600px) {
    .ubi-web-lib .hidden-below-600 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .ubi-web-lib nav.navbar .links .item a span {
        display: inline-block;
        line-height: 1;
        max-width: 95px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
    }
}
@media (max-width: 440px) {
    .ubi-web-lib .hidden-below-440 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .ubi-web-lib .shown-below-440 {
        display: block!important;
    }
}
@media (max-width: 340px) {
    .ubi-web-lib .hidden-below-340 {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .ubi-web-lib .button,
    .ubi-web-lib button,
    .ubi-web-lib input,
    .ubi-web-lib input[type="button"],
    .ubi-web-lib input[type="submit"],
    .ubi-web-lib select,
    .ubi-web-lib textarea {
        padding: 3px 5px;
    }
}