/* Structure stylesheet - Used in non iframe pages */
html {
    position: relative;
    min-height: 100%;
}
/* header */
.container,
header.header,
nav.navbar {
    position: relative;
    display: block;
    margin: 0 auto;
}
header.header {
    border-bottom: 1px solid;
    text-align: center;
    height: 65px;
}
header.header .header-block {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    line-height: 45px;
}
header.header .header-block:first-child {
    margin-left: 15px;
}
header.header .account-block {
    margin-right: 15px;
}
header.header .header-logo {
    max-width: 200px;
}
header.header .header-account,
header.header .header-logo-small,
header.header .header-logo {
    max-height: 45px;
}
header.header .header-logo-small {
    display: none;
    max-width: 50px;
}
header.header .search-block {
    width: 60%;
    max-width: 500px;
}
/* nav */
nav.navbar {
    padding: 0 25px 0 25px;
    border-bottom: 1px solid;
    vertical-align: middle;
}
nav.navbar .buttons-left,
nav.navbar .buttons-right,
nav.navbar .links {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
nav.navbar .buttons-left,
nav.navbar .buttons-right {
    width: 15%;
}
nav.navbar .buttons-left .back {
    font-size: 0.9em;
    vertical-align: bottom;
}
nav.navbar .links {
    list-style-type: none;
    line-height: 3;
    text-align: center;
    width: 70%;
}
nav.navbar .links .next,
nav.navbar .links .prev {
    display: inline-block;
    font-size: 2em;
    padding: 0;
}
nav.navbar .links .next {
    float: right;
}
nav.navbar .links .prev {
    float: left;
}
nav.navbar .links .item {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav.navbar .links .item a {
    display: inline-block;
    line-height: 3;
    padding: 0 5px;
}
nav.navbar .links .item a:hover,
nav.navbar .links .item a:active {
    text-decoration: none;
}
nav.navbar .links .item.active a {
    font-weight: bold;
}
nav.navbar .links .item:hover,
nav.navbar .links .item.active {
    text-decoration: none;
    cursor: pointer;
}
/* Aside */
aside.aside {
    top: 0px;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    bottom: 0;
    position: absolute;
    z-index: 10;
}
aside.aside .list {
    list-style-type: none;
    padding: 0;
    border-left-width: 10px;
    border-left-style: solid;
}
aside.aside .aside-list-btn {
    display: block;
    padding: 5px 10px;
}
aside.aside .aside-list-btn,
aside.aside .list li {
    cursor: pointer;
    line-height: 1.9;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
}
aside.aside .list a {
    color: inherit;
}
aside.aside .aside-list-btn .fa {
    font-size: 1.5em;
    line-height: 1.2;
    vertical-align: middle;
}
aside.aside .list > li {
    display: none;
}
aside.aside .list.active > li {
    display: block;
}
aside.aside.aside-left {
    border-right: 1px solid;
}
aside.aside.aside-right {
    border-left: 1px solid;
}

/* container block */
body > main {
    z-index: 1;
}
.global {
    width: 100%;
    text-align: left;
    display: block;
}
.container {
    max-width: 1170px;
    padding: 15px;
}
.container.max-width-400 {
    max-width: 400px;
    width: auto;
}
.container.max-width-600 {
    max-width: 600px;
    width: auto;
}
.container.max-width-800 {
    max-width: 800px;
    width: auto;
}
.container.max-width-1200 {
    max-width: 1200px;
    width: auto;
}
.container.max-width-1600 {
    max-width: 1600px;
    width: auto;
}
.container .title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid;
}
.commands-place {
    text-align: right;
}
/* paragraph blocks */
.paragraph-block {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
}
.margin-32,
.paragraph-block.margin-32 {
    margin: 32px;
}
.margin-16 {
    margin: 16px;
}
.padding-4 {
    padding: 4px;
}
/* breadcrumb */
.breadcrumb {
    margin: 40px 0 0 0;
    display: block;
}
.breadcrumb .tree:before {
    content: " > ";
}
/* common classes for blocks */
.centered {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}
/* tabs */
.tab-window .tab-button {
    margin: 0;
    padding: 4px 6px;
    font-size: 1em;
    text-decoration: none;
    color: inherit;
    display: inline; /* fallback */
    display: inline-block;
    cursor: pointer;
    border: 0 none;
    border-radius: 3px;
    box-sizing: content-box;
    transition-duration: .3s;
    transition-property: background;
}
.tab-window .tab-button + .tab-button {
    margin-left: 2px;
}
.tab-window .tab-button.active {
    cursor: default;
    font-weight: bold;
}
/* Footer block */
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 30px;
    border-top: 1px solid;
}

#message_box {
    position: fixed;
    bottom: 50px;
    left: 25px;
    right: auto;
    width: auto;
    max-width: calc(100% - 50px);
}