/* Structure stylesheet - Used in non iframe pages */

/* header */
.container,
header.header,
nav.navbar {
    position: relative;
    display: block;
    margin: 0 auto;
}
header.header {
    border-bottom: 1px solid;
    text-align: center;
    height: 65px;
}
header.header .header-block {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    line-height: 45px;
}
header.header .header-block:first-child {
    margin-left: 15px;
}
header.header .account-block {
    margin-right: 15px;
}
header.header .header-logo {
    max-width: 150px;
    max-height: 40px;
}
header.header .header-account,
header.header .header-logo-small,
header.header .header-logo {
    margin: 0 10px;
    max-height: 40px;
}
header.header .header-logo-small {
    display: none;
}
header.header .search-block {
    width: 60%;
    max-width: 720px;
}
/* nav */
nav.navbar {
    padding: 2px 25px 0 25px;
    border-bottom: 1px solid;
    vertical-align: middle;
}
nav.navbar .buttons-left,
nav.navbar .links {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
nav.navbar .buttons-left .back {
    font-size: 0.9em;
    vertical-align: bottom;
}
nav.navbar .buttons-left {
    width: 10%;
}
nav.navbar .links {
    width: 80%;
    list-style-type: none;
    line-height: 3;
}
nav.navbar .links .next,
nav.navbar .links .prev {
    display: inline-block;
    font-size: 2em;
}
nav.navbar .links .next {
    float: right;
}
nav.navbar .links .prev {
    float: left;
}
nav.navbar .links .item {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav.navbar .links .item a {
    display: inline-block;
    line-height: 3;
    padding: 0 10px;
}
nav.navbar .links .item a:hover,
nav.navbar .links .item a:active {
    text-decoration: none;
}
nav.navbar .links .item.active a {
    font-weight: bold;
}
nav.navbar .links .item:hover,
nav.navbar .links .item.active {
    border-bottom: 5px solid;
    text-decoration: none;
    cursor: pointer;
}
/* Aside */
aside.aside {
    margin-top: 20px;
    top: 46px;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    bottom: 0;
    position: absolute;
    z-index: 10;
    font-size: 1.2em;
}
aside.aside .list {
    list-style-type: none;
    padding: 0;
    border-left: 10px solid;
}
aside.aside .aside-list-btn,
aside.aside .list li a  {
    padding: 5px 10px;
}
aside.aside .aside-list-btn,
aside.aside .list li {
    cursor: pointer;
    line-height: 1.9;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
}
aside.aside .aside-list-btn .fa {
    font-size: 1.5em;
    line-height: 1.2;
    vertical-align: middle;
}
aside.aside .list li {
    display: none;
}
aside.aside .list a {
    display: block;
}
aside.aside .list.active > li {
    display: block;
}
aside.aside.aside-left {
    border-right: 1px solid;
}
aside.aside.aside-right {
    border-left: 1px solid;
}

/* container block */
.global {
    width: 100%;
    text-align: left;
    position: relative;
    display: block;
}
.container {
    max-width: 1170px;
    padding: 15px;
}
.small-640.container {
    max-width: 640px;
    width: auto;
}
.wide-1280.container {
    max-width: 1280px;
    width: auto;
}
.wide-1600.container {
    max-width: 1600px;
    width: auto;
}
.container .title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid;
}
.breadcrumb {
    display: block;
    margin: 0 30px;
    margin-bottom: 10px;
}
.breadcrumb .tree:before {
    content: " > ";
}
.commands-place {
    text-align: right;
    padding: 10px;
}
/* paragraph blocks */
.paragraph-block {
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
}
.paragraph-block > h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}
.margin-32 {
    margin: 32px;
}
.margin-16 {
    margin: 16px;
}
/* common classes for blocks */
.block-padding {
    padding: 5px;
}
.centered {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}
/* tabs */
.tab-window .tab-button {
    margin: 0;
    padding: 4px 6px;
    color: inherit;
    white-space: normal;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    display: inline; /* fallback */
    display: inline-block;
    cursor: pointer;
    border: 0 none;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: content-box;
    transition-duration: .3s;
    transition-property: background;
}
.tab-window .tab-button + .tab-button {
    margin-left: 2px;
}
.tab-window .tab-button.active {
    cursor: default;
    font-weight: bold;
}
/* Footer block */
.footer {
    position: relative;
    display: block;

    width: 100%;

    overflow: hidden;
    text-align: center;

    border-top: 1px solid;
}