/* Structure stylesheet - Used in non iframe pages */

/* header */
.container, header.header {
    position: relative;
    display: block;

    width: 100%;
    margin: 0 auto;
}
header.header {
    background: white;
    border-bottom: 1px solid #DDD;
}
header.header .header-block {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}
header.header .header-logo {
    height: 50px;
    margin: 0 10px;
}

/* Aside */
aside.aside {
    top: 71px;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    bottom: 0;
    position: absolute;
    background: #FFF;
}
aside.aside ul {
    list-style-type: none;
    padding: 0;
    border-left: 10px solid #CCC;
}
aside.aside ul.active.red .aside-list-btn,
aside.aside ul.active.blue .aside-list-btn,
aside.aside ul.active.purple .aside-list-btn,
aside.aside ul.active.green .aside-list-btn,
aside.aside ul.active.orange .aside-list-btn,
aside.aside ul.active.yellow .aside-list-btn {
    color: white;
}
aside.aside ul.red {
    border-left-color: #D00;
}
aside.aside ul.active.red .aside-list-btn {
    background: #D00;
}
aside.aside ul.blue {
    border-left-color: #00D;
}
aside.aside ul.active.blue .aside-list-btn {
    background: #00D;
}
aside.aside ul.green {
    border-left-color: #0B0;
}
aside.aside ul.active.green .aside-list-btn {
    background: #0B0;
}
aside.aside ul.yellow {
    border-left-color: #EE0;
}
aside.aside ul.active.yellow .aside-list-btn {
    background: #EE0;
}
aside.aside ul.purple {
    border-left-color: #D0D;
}
aside.aside ul.active.purple .aside-list-btn {
    background: #D0D;
}
aside.aside ul.orange {
    border-left-color: #FB0;
}
aside.aside ul.active.orange .aside-list-btn {
    background: #FB0;
}
aside.aside .aside-list-btn,
aside.aside ul li a  {
    padding: 5px 10px;
}
aside.aside .aside-list-btn,
aside.aside ul li {
    font-size: 1.2em;
    line-height: 1.9;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
}
aside.aside .aside-list-btn .fa {
    font-size: 1.5em;
    line-height: 1.2;
    vertical-align: middle;
}
aside.aside .aside-list-btn:hover,
aside.aside ul li a:hover {
    background: #EEE;
}
aside.aside ul li {
    display: none;
}
aside.aside ul li a {
    display: block;
}
aside.aside ul.active li {
    display: block;
}
aside.aside.aside-left {
    border-right: 1px solid #DDD;
}
aside.aside.aside-right {
    border-left: 1px solid #DDD;
}

/* container block */
.global {
    width: 100%;
    text-align: left;
    background: white;
    position: relative;
    display: block;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
}
.wide-1280 .container {
    max-width: 1280px;
    width: auto;
}
.wide-1600 .container {
    max-width: 1600px;
    width: auto;
}
.container .title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

/* Footer block */
.footer {
    position: relative;
    display: block;

    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

    background: #1D4B5F;
    color: white;

    overflow: hidden;
    text-align: center;
}