/* Table common style */
table {
    border-spacing: 0;
    border-collapse: separate;
}
table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
}
table td,
table th,
table tr {
    padding: 4px 6px;
    border-left: 1px solid;
}
table td:first-child,
table th:first-child {
    border-left: 0 none;
}
table td:last-child,
table th:last-child {
    border-right: 0 none;
}
table td {
    border-color: transparent;
}
.title-block,
table th,
table tfoot tr {
    padding: 4px 6px;
    text-align: left;
    font-weight: bold;
    color: white;
}
table th.header {
    cursor: pointer;
}
table th.header > span,
table th.headerSortDown > span,
table th.headerSortUp > span {
    display: block;
}
table th.header > span:before,
table th.headerSortDown > span:before,
table th.headerSortUp > span:before {
    padding-right: 5px;
    content: "\f0dc"; /* fa-sort */
    font: normal normal normal 14px/1 FontAwesome;
}
table th.headerSortDown > span:before {
    content: "\f0dd"; /* fa-sort-down */
}
table th.headerSortUp > span:before {
    content: "\f0de"; /* fa-sort-up */
}
table.even-odd.clickable > tbody > tr:hover > td,
table.even-odd.clickable > tbody > tr:hover.marked > td,
table.even-odd.clickable > tbody > tr:hover.selected > td,
table.even-odd-2.clickable > tbody > tr:hover > td,
table.even-odd-2.clickable > tbody > tr:hover.marked > td,
table.even-odd-2.clickable > tbody > tr:hover.selected > td  {
    cursor: pointer;
}
table th.transparent,
table td.transparent {
    background: transparent !important;
}
table td.inner-table {
    padding: 0;
}
table td.inner-table th {
    border-left: none;
}
.form-section,
table th.form-section {
    padding: 4px 6px;
    font-weight: bold;
    font-size: 120%;
    background: transparent !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
table tr:first-child th.form-section {
    border-top: 0 none;
}
table td.input {
    vertical-align: middle;
    text-align: left;
    width: 100%;
}
table td.label {
    vertical-align: middle;
    text-align: right;
}
table td.tooltip {
    text-align: center;
}