/* Table common style */
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3px;
}
table td,
table th {
    padding: 4px 6px;
    border: 1px solid #fff;
}
.title-block,
table th,
table tfoot tr {
    padding: 4px 6px;
    text-align: left;
    font-weight: bold;
    color: #FFF;
}
table th.header {
    cursor: pointer;
}
table th.header a {
    color: #FFF;
}
table th.header > a,
table th.headerSortDown > a,
table th.headerSortUp > a {
    display: block;
}
table th.header > a:before,
table th.headerSortDown > a:before,
table th.headerSortUp > a:before {
    padding-right: 5px;
    content: "\f0dc"; /* fa-sort */
    font: normal normal normal 14px/1 FontAwesome;
}
table th.headerSortDown > a:before {
    content: "\f0dd"; /* fa-sort-down */
}
table th.headerSortUp > a:before {
    content: "\f0de"; /* fa-sort-up */
}
table.even-odd.clickable > tbody > tr:hover > td,
table.even-odd.clickable > tbody > tr:hover.marked > td,
table.even-odd.clickable > tbody > tr:hover.selected > td,
table.even-odd-2.clickable > tbody > tr:hover > td,
table.even-odd-2.clickable > tbody > tr:hover.marked > td,
table.even-odd-2.clickable > tbody > tr:hover.selected > td  {
    cursor: pointer;
}
table th.transparent,
table td.transparent {
    background: transparent !important;
}
table td.input {
    vertical-align: middle;
    text-align: left;
    width: 100%;
}
table td.label {
    vertical-align: middle;
    text-align: right;
}