.dropdown {
    line-height: 1;
    position: absolute;
    display: none;
    text-align: left;
    list-style-type: none;
    right: 0;
    width: 100%;
}
.dropdown.active {
    display: block;
}
.dropdown,
.tooltip-content {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #EEE;
    border: 1px solid;
    z-index: 20;
    padding: 5px;
}