.dropdown {
	line-height: 1;
	position: absolute;
	z-index: 20;
	display: none;
	border: 1px solid;
	border-radius: 4px;
	text-align: left;
	list-style-type: none;
	padding: 5px;
	right: 0;
}
.dropdown.active {
	display: block;
}