.dropdown {
    line-height: 1;
    position: absolute;
    display: none;
    text-align: left;
    list-style-type: none;
    right: 0;
    width: 100%;
}
.dropdown.active {
    display: block;
}
.dropdown,
.tooltip-content {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #EEE;
    border: 1px solid;
    z-index: 60;
    padding: 5px;
}
.tooltip-content {
    position: absolute;
    left: 24px;
    top: 0px;
    min-width: 200px;
    max-height: 300px;
    max-width: 700px;
    overflow: auto;
    cursor: initial;
    text-align: left;
    white-space: nowrap;
    font-size: 0.8em;
}
.tooltip-button {
    display: inline-block;
    cursor: help;
    vertical-align: middle;
    position: relative;
}
.tooltip-button .tooltip-hidden-content {
    display: none;
}
