[submodule "submodules/jsu"]
	path = submodules/jsu
	url = https://github.com/UbiCastTeam/jsu.git
[submodule "submodules/odm"]
	path = submodules/odm
	url = https://github.com/UbiCastTeam/overlay-display-manager.git
